<ion-header>
  <ion-toolbar>
    <ion-title>
        Mis asistencias
    </ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centrar">

    <h1>Asistencias</h1>

    <ion-accordion-group>
      <ion-accordion *ngFor="let asistencia of asistencias" [value]="asistencia.asignatura">
        <ion-item slot="header" color="light">
          <ion-label>{{ asistencia.asignatura }}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Fecha: {{ asistencia.fecha }}</div>
        <div class="ion-padding" slot="content">Estado: {{ asistencia.presente }}</div>
      </ion-accordion>
    </ion-accordion-group>

  </div>

</ion-content>
