<ion-header>
  <ion-toolbar>
    <ion-title>
        Mis asistencias
    </ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centrar">

    <h1>Asistencias</h1>

    <ion-list>
      <ion-item>
        <ion-label>Asignatura</ion-label>
        <ion-label>Fecha</ion-label>
        <ion-label>Asistencia</ion-label>
      </ion-item>
      <ion-item *ngFor="let asistencia of asistencias">
        <ion-label>{{ asistencia.asignatura }}</ion-label>
        <ion-label>{{ asistencia.fecha }}</ion-label> 
        <ion-label>{{ asistencia.presente }}</ion-label> 
      </ion-item>
    </ion-list>

  </div>

</ion-content>
