<ion-header>
  <ion-toolbar>
    <div class="centrar">
      <ion-title>
        Inicio de sesión
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centrar">

    <form (ngSubmit)="onSubmit()">


        <br>

        <ion-item>
          <ion-label>Nombre de usuario</ion-label>
          <input type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
        </ion-item>

        <br>

        <ion-item>
          <ion-label>Nombre de usuario</ion-label>
          <input type="password" [(ngModel)]="contrasena" name="contrasena" required>
        </ion-item>

        <br>

        <ion-button type="submit">
          Iniciar sesión
        </ion-button>

        <br><br>


    </form>

    <ion-button id="present-alert" expand="block" shape="round">
      ¿Olvidaste tu contraseña?
    </ion-button>

    <ion-alert
      trigger="present-alert"
      header="Introduzca su nombre de usuario"
      [buttons]="alertButtons"
      [inputs]="alertInputs"
    ></ion-alert>

  </div>

</ion-content>