.centrar{
  text-align: center;
}

.header{
  text-align: left;
  text-indent: 10%;
  font-size: xx-large;
}

.blue {
  color: black;
}

.gold {
  color: gold;
}

:root {
  --ion-color-primary: #3880ff; /* Default Ionic primary blue */
  --ion-color-secondary: gold;  /* Gold for contrast */
}