<ion-header>
  <ion-toolbar color="primary">

    <div class="header">
      <span class="blue"><b>Registr</b></span>
      <span class="gold">APP</span>
    </div>
    
    <ion-button (click)="cerrarSesion()" slot="end" color="warning">
      <ion-icon name="power-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centrar">
    <h1>Bienvenido, {{nombreUsuario}}</h1>

    <ion-list>

      <ion-item button routerLink="/asignaturas">
        <ion-label>Mis asignaturas</ion-label>
      </ion-item>

      <ion-item button routerLink="/asistencias">
        <ion-label>Mis asistencias</ion-label>
      </ion-item>

      <ion-item button routerLink="/registrarasistencia">
        <ion-label>Registrar asistencia</ion-label>
      </ion-item>

      <ion-item button routerLink="/cambiarclave">
        <ion-label>Cambiar clave</ion-label>
      </ion-item>

    </ion-list>
  </div>

</ion-content>
